<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100.1.png</key>
            <dict>
                <key>frame</key>
                <string>{{20,2},{16,18}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{16,18}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>100.2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{16,18}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{16,18}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>100.3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,22},{16,18}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{16,18}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>100.4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{16,18}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{16,18}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>100.pvr.ccz</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:255697b77f17aff58d8ef4a4447e918a$</string>
            <key>textureFileName</key>
            <string>100.pvr.ccz</string>
        </dict>
    </dict>
</plist>
